#home {
	color: red;
	font-family: cursive;
	border: 1px solid black;
	height: 20px; width:65px;
	position: fixed;
}

#about {
	color: red;
	font-family: cursive;
	border: 1px solid black;
	height: 20px; width:25px;
	position: fixed;
	margin: 0px 0px 0px 85px;
}

#resume {
	color: red;
	font-family: cursive;
	border: 1px solid black;
	height: 20px; width:57px;
	position: fixed;
	margin: 0px 0px 0px 130px;	
}

#topbar {
	border: 1px solid black;
	position: fixed;
	margin: 32px 0px 0px 0px;
	width: 1350px;
}

.cv {
	position: absolute;
}